<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="SyntecX.CLRMIS.ExcelReportGenerator" />
    </listeners>
  <test thread-count="5" name="ChormeTest">
  
  <parameter name="browser" value="chrome"></parameter>
    <classes>
 <!--  <class  name="SyntecX.CLRMIS.RolesUsers"/>  -->
  <!--  <class  name="SyntecX.CLRMIS.Launch"/>   -->
      <class  name="SyntecX.CLRMIS.Token"/> 
  <!--   <class  name="SyntecX.CLRMIS.TafseeleMalkiat"/> -->
  <!--         <class  name="SyntecX.CLRMIS.TafseelMalkiatOKhasrajaat"/> --> 
  <!--    <class  name="SyntecX.CLRMIS.AndrajeBankChallan"/>  -->
  <!--           <class  name="SyntecX.CLRMIS.talasheFardat"/> -->
     <!-- <class  name="SyntecX.CLRMIS.AndrajeChallan"/> -->
     <!-- <class  name="SyntecX.CLRMIS.andrajeRaseed"/>  -->
    <!--  <class  name="SyntecX.CLRMIS.BunyaditareefForm"/> --> 
   <!--  <class  name="SyntecX.CLRMIS.dusrayAzlahTehsilfardat"/> --> 
   <!--  <class  name="SyntecX.CLRMIS.loginTD"/> --> 
   <!--   <class  name="SyntecX.CLRMIS.mukhtasarFard"/> -->
  <!--   <class  name="SyntecX.CLRMIS.tokenAndFard"/>  -->
   <!--   <class  name="SyntecX.CLRMIS.tafseeliFard"/> -->
   <!--   <class  name="SyntecX.CLRMIS.TokenAndTFard"/> -->
   <!--   <class  name="SyntecX.CLRMIS.transactionalFard"/> -->  
<!--    <class  name="SyntecX.CLRMIS.TokenAndTransactionalFard"/> -->    

 <!--    <class  name="SyntecX.CLRMIS.andrajEDastavezaat"/> -->    


      
    </classes>  
  </test> <!-- Test -->
  
  <test thread-count="5" name="firefoxTest">
  
  <parameter name="browser" value="firefox"></parameter>
    <classes>
 <!--   <class  name="SyntecX.CLRMIS.RolesUsers"/> -->
  <!--  <class  name="SyntecX.CLRMIS.Launch"/>  -->
  <!--  <class  name="SyntecX.CLRMIS.Token"/>   -->
  <!--  <class  name="SyntecX.CLRMIS.TafseeleMalkiat"/>   -->
  <!--   <class  name="SyntecX.CLRMIS.TafseelMalkiatOKhasrajaat"/> -->
    <!--  <class  name="SyntecX.CLRMIS.AndrajeBankChallan"/>  -->
    <!--  <class  name="SyntecX.CLRMIS.AndrajeChallan"/> -->
    <!--   <class  name="SyntecX.CLRMIS.talasheFardat"/>  -->
    <!--  <class  name="SyntecX.CLRMIS.andrajeRaseed"/>  -->
    <!--  <class  name="SyntecX.CLRMIS.BunyaditareefForm"/>  -->  
    <!--       <class  name="SyntecX.CLRMIS.dusrayAzlahTehsilfardat"/> -->
      <!--  <class  name="SyntecX.CLRMIS.loginTD"/> -->
      <!--  <class  name="SyntecX.CLRMIS.mukhtasarFard"/> -->
      <!--  <class  name="SyntecX.CLRMIS.tokenAndFard"/> -->
      <!--   <class  name="SyntecX.CLRMIS.tafseeliFard"/> -->
      <!--   <class  name="SyntecX.CLRMIS.TokenAndTFard"/> -->
     <!--  <class  name="SyntecX.CLRMIS.transactionalFard"/> --> 
      <!--  <class  name="SyntecX.CLRMIS.TokenAndTransactionalFard"/> -->
      <!--    <class  name="SyntecX.CLRMIS.andrajEDastavezaat"/> -->
      
    </classes>  
  </test> <!-- Test -->
  
  
   <test thread-count="5" name="edgeTest">
  
  <parameter name="browser" value="edge"></parameter>
    <classes>
  <!--    <class  name="SyntecX.CLRMIS.RolesUsers"/>  --> 
  <!--     <class  name="SyntecX.CLRMIS.Launch"/>  -->
   <!--     <class  name="SyntecX.CLRMIS.Token"/>  -->
   <!--  <class  name="SyntecX.CLRMIS.TafseeleMalkiat"/> -->
   <!--   <class  name="SyntecX.CLRMIS.TafseelMalkiatOKhasrajaat"/> -->
       <!--   <class  name="SyntecX.CLRMIS.AndrajeBankChallan"/>   -->
    <!--   <class  name="SyntecX.CLRMIS.AndrajeChallan"/> -->
    <!--   <class  name="SyntecX.CLRMIS.talasheFardat"/> -->
    <!--   <class  name="SyntecX.CLRMIS.andrajeRaseed"/>  -->
    <!--   <class  name="SyntecX.CLRMIS.BunyaditareefForm"/>  --> 
    <!--     <class  name="SyntecX.CLRMIS.Launch"/> -->
    <!--  <class  name="SyntecX.CLRMIS.dusrayAzlahTehsilfardat"/> -->
      <!--  <class  name="SyntecX.CLRMIS.loginTD"/> -->
      <!--  <class  name="SyntecX.CLRMIS.mukhtasarFard"/> -->
      <!--   <class  name="SyntecX.CLRMIS.tokenAndFard"/> -->
      <!--   <class  name="SyntecX.CLRMIS.tafseeliFard"/> -->
      <!--   <class  name="SyntecX.CLRMIS.TokenAndTFard"/> -->
     <!--  <class  name="SyntecX.CLRMIS.transactionalFard"/> -->
      <!--  <class  name="SyntecX.CLRMIS.TokenAndTransactionalFard"/> -->
      <!--    <class  name="SyntecX.CLRMIS.andrajEDastavezaat"/> -->
    </classes>  
  </test> <!-- Test -->
  
  
  
  
  
</suite> <!-- Suite -->
